name: Generate OOR documentation

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
    - 'landmarks_ontology.owl'

env:
  ONTOLOGY_FILE: landmarks_ontology.owl

jobs:
  generate-docs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # pip install git+https://github.com/vemonet/Ontospy@improve-labels
        # pip install Django>=1.10.3 Pygments==2.1.3
        # pip install ontospy
        wget -O widoco.jar https://github.com/dgarijo/Widoco/releases/download/v1.4.25/widoco-1.4.25-jar-with-dependencies_JDK-11.jar

    - name: Generate docs with Widoco
      run: |
        java -jar widoco.jar -ontFile $ONTOLOGY_FILE -outFolder docs/ -uniteSections
        # -getOntologyMetadata -includeImportedOntologies
        mv docs/index-en.html docs/index.html
        cp -a docs/ontology.owl docs/landmarks_ontology.owl

    - name: Commit and push
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        date > generated.txt
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add docs/index.html
        git add docs/ontology.jsonld
        git add docs/ontology.nt
        git add docs/ontology.ttl
        git add docs/provenance/
        git add docs/resources/
        git add generated.txt
        git commit -m "Automatically generate documentation from geodata OWL ontology file using Widoco."
        git push || exit 0

    